{% extends "pixelsaurapp/base.html" %}
{% load static %}

{% block title %}
  {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
  
  
  <div id="main" class="product-list">
    <div class = "search-form">
        <form method='POST' class ="busca">
            {% csrf_token %}

        </form>
    </div>
    <div class = "slideshows">

      <form method="POST" class = "eligelistas"  >
        {% csrf_token %}
        <input type="text" placeholder="buscar.." name = "busqueda"> 
        <button type="submit"><i class = "fa fa-search"></i></button>
      </form>
    </div>
    <div class="lista-categorias">
        {% for c in categories %}
        <li {% if category.slug == c.slug %}class="selected"{% endif %}>
          <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        </li>
        {% endfor %}
    </div>
  </div>
{% endblock %}