{% load static %}
{% load mptt_tags %}
<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Pixelsaur{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link rel="shortcut icon" href="#"> <!--Fix error favicon-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{% static "img/logo_pixelsaur.png" %}">
    <script src="https://kit.fontawesome.com/801dcde776.js" crossorigin="anonymous"></script>
  </head>
  


  <body>
    
    <div id="sidebar">
        <img href="/" class="logo" src="{% static "img/logo_pixelsaur.png" %}"><br><br><br>
        
        <ul>
          <ul>
            <li><a href=""><i class="fa fa-circle-user" aria-hidden="true"></i> Perfil</a></li>
            <li><a href="{% url "pixelsaurapp:search_view" %}"><i class="fa fa-search" aria-hidden="true"></i> Buscar</a></li>
            <li><a href="{% url "my_library:my_product_list" %}"><i class="fa-solid fa-book " aria-hidden="true"></i> Biblioteca</a></li>
            <li><a href="{% url "pixelsaurapp:pedir_dinero" %}"> <i class="fa fa-duotone fa-wallet" aria-hidden="true" ></i> Balance</a></li>
            
          </ul>

          

          <li {% if not category %}class="selected"{% endif %}>
            <a href="{% url "pixelsaurapp:product_list" %}" style="font-weight: 400; color:#FFFAFB">Categorías</a>
          </li>
          
          {% if request.user.is_authenticated %}
          <div>
            <div>
            <ul>
            {% recursetree categories %}
              <li>
                <a href="{{ node.get_absolute_url }}">{{node.name}}</a>
                {% if not node.is_leaf_node %}
                  <ul class="children">
                    {{ children }}
                  </ul>
                {% endif %}
              </li>
            {% endrecursetree %}
          </ul>
          </div>
        </div>
        {% endif %}
        </ul>
      </div>
    <div class ="headercontent" style="display: flex; flex-direction: column;">
      <!-- Este Div es el nuevo para el login -->
    <div id="header">
      <!-- Aqui codigo backup -->
      <li id = "liheader" class="adminlogin"> <a href="http://127.0.0.1:8000/admin/"> <span>Login as Administrator</span> </a> </li>
      <li id = "liheader" class="usershow">

        {% if request.user.is_authenticated %}
        <span class="user">
            Hello {{ request.user.first_name }}  
            <a href="{% url 'account:logout' %}">Logout</a>
            Your money is {{ request.user.wallet.get_money }}
            
          {% else %}
            <a href="{% url 'account:login' %}"> Log-in </a>
          {% endif %}
        </span>
      </li>

      <li>
        You can <a href="{% url "account:edit" %}"> edit </a>  your profile
      </li>

      <li class="bandeja">
        {% for mensaje in regalo %}
          <a href="{{ mensaje.product.get_absolute_url }}">{{ mensaje.product.name }}</a>
          <p>{{mensaje.desc_cod}}</p>
          <p>{{mensaje.dedicatoria}}</p>
        {% endfor %}
      </li>
     
      <li id = "liheader" class="cart_header">

        <div id="subheader">
          <div class="cart">
            {% with total_items=cart|length %}
              {% if total_items > 0 %}
              <img class="cart_img" src="{% static "img/cart.png" %}">
                <a href="{% url "cart:cart_detail" %}" style="color:#FFFAFB; font-weight:300">
                  {{ total_items }} item{{ total_items|pluralize }},
                  ${{ cart.get_total_price }}
                </a>
              {% else %}
                Your cart is empty.
              {% endif %}
            {% endwith %}
          </div>
        </div>
      </div>
      </li>
      
        
        {% block content %}
        {% endblock %}
      
    </div>
  </body>
</html>
